export CBK_FASTMAIL_USERNAME="{{cbk_fastmail_username}}"
export CBK_FASTMAIL_PASSWORD="{{cbk_fastmail_password}}"
export CBK_GITHUB_USER="{{cbk_github_user}}"
export CBK_GITHUB_TOKEN="{{cbk_github_token}}"
export CBK_GITHUB_EXCLUDES="{{cbk_github_excludes}}"
export CBK_IRCLOGS_SOURCE="{{cbk_irclogs_source}}"
export CBK_PINBOARD_TOKEN="{{cbk_pinboard_token}}"
export CBK_SOUNDCLOUD_LIKES_USER="{{cbk_soundcloud_likes_user}}"
